* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #faf8ef;
  color: #776e65;
}

.container {
  width: 500px;
  margin: auto;
}

.header {
  margin: 5px;
  height: 80px;
}

.game-name {
  font-size: 30px;
}

.game-board {
  background-color: #bbada0;
  border-radius: 6px;
  /* padding: 15px; */
  width: 500px;
  height: 500px;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 15px;
  padding: 15px;
  /* justify-content: stretch; */
  /* align-content: stretch; */
  /* align-items: stretch; */
  /* justify-items: stretch; */
}

/* .grid-row {
  height: 106.25px;
  margin-bottom: 15px;
} */

.grid-cell {
  /* height: 106.25px; */
  /* width: 106.25px; */
  height: 100%;
  width: 100%;
  border-radius: 6px;
  /* margin: 15px; */
  background: rgba(228, 238, 218, 0.35);
}

.tile {
  background-color: #eee4da;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: bold;
  line-height: 106.25px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move-right-1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(121.25px, 0);
    opacity: 0;
  }
}

@keyframes move-right-2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(242.5px, 0);
    opacity: 0;
  }
}

@keyframes move-right-3 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(363.75px, 0);
    opacity: 0;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* .tile {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #eee4da;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  line-height: 106.25px;
  transition: 100ms ease-in-out;
  transition-property: transform;
} */

.tile-0-3 {
  transform: translate(363.75px, 0);
}

.tile-merged {
  animation: pop 300ms ease 100ms;
}

.tile-new {
  animation: appear 300ms ease 100ms;
}
